In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
! mkdir "/content/gdrive/My Drive/Colab Notebooks/data"

mkdir: cannot create directory ‘/content/gdrive/My Drive/Colab Notebooks/data’: File exists

In [ ]:
!pip install chembl_webresource_client

Requirement already satisfied: chembl_webresource_client in /usr/local/lib/python3.12/dist-packages (0.10.9)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.12/dist-packages (from chembl_webresource_client) (2.5.0)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.12/dist-packages (from chembl_webresource_client) (2.32.4)
Requirement already satisfied: requests-cache~=1.2 in /usr/local/lib/python3.12/dist-packages (from chembl_webresource_client) (1.2.1)
Requirement already satisfied: easydict in /usr/local/lib/python3.12/dist-packages (from chembl_webresource_client) (1.13)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.18.4->chembl_webresource_client) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.18.4->chembl_webresource_client) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2026.1.4)
Requirement already satisfied: attrs>=21.2 in /usr/local/lib/python3.12/dist-packages (from requests-cache~=1.2->chembl_webresource_client) (25.4.0)
Requirement already satisfied: cattrs>=22.2 in /usr/local/lib/python3.12/dist-packages (from requests-cache~=1.2->chembl_webresource_client) (25.3.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests-cache~=1.2->chembl_webresource_client) (4.5.1)
Requirement already satisfied: url-normalize>=1.4 in /usr/local/lib/python3.12/dist-packages (from requests-cache~=1.2->chembl_webresource_client) (2.2.1)
Requirement already satisfied: typing-extensions>=4.14.0 in /usr/local/lib/python3.12/dist-packages (from cattrs>=22.2->requests-cache~=1.2->chembl_webresource_client) (4.15.0)

In [ ]:
import pandas as pd
from chembl_webresource_client.new_client import new_client

In [ ]:
target = new_client.target
target_query = target.search("JAK2")
targets = pd.DataFrame.from_dict(target_query)
targets.head()

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,[],Homo sapiens,Tyrosine-protein kinase JAK2,18.0,False,CHEMBL2971,"[{'accession': 'O60674', 'component_descriptio...",SINGLE PROTEIN,9606
1,[],Rattus norvegicus,Tyrosine-protein kinase JAK2,18.0,False,CHEMBL1075225,"[{'accession': 'Q62689', 'component_descriptio...",SINGLE PROTEIN,10116
2,[],Mus musculus,Tyrosine-protein kinase JAK2,18.0,False,CHEMBL1649049,"[{'accession': 'Q62120', 'component_descriptio...",SINGLE PROTEIN,10090
3,[],Homo sapiens,Protein cereblon/Tyrosine-protein kinase JAK2,17.0,False,CHEMBL4742263,"[{'accession': 'O60674', 'component_descriptio...",PROTEIN-PROTEIN INTERACTION,9606
4,[],Homo sapiens,JAK2/TYK2,16.0,False,CHEMBL3301392,"[{'accession': 'O60674', 'component_descriptio...",PROTEIN COMPLEX,9606

In [ ]:
selected_target = targets.target_chembl_id[4]
selected_target

'CHEMBL3301392'

In [ ]:
activity = new_client.activity
results = activity.filter(target_chembl_id=selected_target).filter(standard_type="IC50")

In [ ]:
df1 = pd.DataFrame.from_dict(results)
df1.head(5)

,action_type,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,...,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
0,None,None,14751985,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,81.9
1,None,None,14751989,[],CHEMBL3299206,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,149.0
2,None,None,14751991,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,229.0
3,None,None,14751996,[],CHEMBL3299206,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,409.0
4,None,None,14752002,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,818.0

In [ ]:
df1.standard_type.unique()

array(['IC50'], dtype=object)

In [ ]:
df1.to_csv('bioactivity_raw_data.csv', index=False)

In [ ]:
! cp bioactivity_raw_data.csv "/content/gdrive/My Drive/Colab Notebooks/data"

In [ ]:
! ls -l "/content/gdrive/My Drive/Colab Notebooks/data"

total 46
-rw------- 1 root root 46939 Jan 27 00:42 bioactivity_raw_data.csv

In [ ]:
! head bioactivity_raw_data.csv

action_type,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,bao_format,bao_label,canonical_smiles,data_validity_comment,data_validity_description,document_chembl_id,document_journal,document_year,ligand_efficiency,molecule_chembl_id,molecule_pref_name,parent_molecule_chembl_id,pchembl_value,potential_duplicate,qudt_units,record_id,relation,src_id,standard_flag,standard_relation,standard_text_value,standard_type,standard_units,standard_upper_value,standard_value,target_chembl_id,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
,,14751985,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-23-induced STAT-3 phosphorylation preincubated for 45 mins followed by IL-23 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,CCS(=O)(=O)N1CC(CC#N)(n2cc(-c3ncnc4[nH]ccc34)cn2)C1,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '19.08', 'le': '0.37', 'lle': '5.99', 'sei': '5.88'}",CHEMBL2105759,BARICITINIB,CHEMBL2105759,7.09,0,http://www.openphacts.org/units/Nanomolar,2119852,=,1,1,=,,IC50,nM,,81.9,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,81.9
,,14751989,[],CHEMBL3299206,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-12-induced STAT-4 phosphorylation preincubated for 45 mins followed by IL-12 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,CCS(=O)(=O)N1CC(CC#N)(n2cc(-c3ncnc4[nH]ccc34)cn2)C1,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '18.38', 'le': '0.36', 'lle': '5.73', 'sei': '5.66'}",CHEMBL2105759,BARICITINIB,CHEMBL2105759,6.83,0,http://www.openphacts.org/units/Nanomolar,2119852,=,1,1,=,,IC50,nM,,149.0,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,149.0
,,14751991,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-23-induced STAT-3 phosphorylation preincubated for 45 mins followed by IL-23 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]ccc12,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '21.26', 'le': '0.39', 'lle': '5.10', 'sei': '7.47'}",CHEMBL221959,TOFACITINIB,CHEMBL221959,6.64,0,http://www.openphacts.org/units/Nanomolar,2119757,=,1,1,=,,IC50,nM,,229.0,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,229.0
,,14751996,[],CHEMBL3299206,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-12-induced STAT-4 phosphorylation preincubated for 45 mins followed by IL-12 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]ccc12,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '20.45', 'le': '0.38', 'lle': '4.85', 'sei': '7.19'}",CHEMBL221959,TOFACITINIB,CHEMBL221959,6.39,0,http://www.openphacts.org/units/Nanomolar,2119757,=,1,1,=,,IC50,nM,,409.0,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,409.0
,,14752002,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-23-induced STAT-3 phosphorylation preincubated for 45 mins followed by IL-23 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,N#CC[C@H](C1CCCC1)n1cc(-c2ncnc3[nH]ccc23)cn1,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '19.87', 'le': '0.36', 'lle': '2.62', 'sei': '7.32'}",CHEMBL1789941,RUXOLITINIB,CHEMBL1789941,6.09,0,http://www.openphacts.org/units/Nanomolar,2119851,=,1,1,=,,IC50,nM,,818.0,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,818.0
,,14752005,[],CHEMBL3299206,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-12-induced STAT-4 phosphorylation preincubated for 45 mins followed by IL-12 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,N#CC[C@H](C1CCCC1)n1cc(-c2ncnc3[nH]ccc23)cn1,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '19.46', 'le': '0.35', 'lle': '2.49', 'sei': '7.17'}",CHEMBL1789941,RUXOLITINIB,CHEMBL1789941,5.96,0,http://www.openphacts.org/units/Nanomolar,2119851,=,1,1,=,,IC50,nM,,1090.0,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,1090.0
,,14752014,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-23-induced STAT-3 phosphorylation preincubated for 45 mins followed by IL-23 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,O=C(Nc1nc2cccc(-c3ccc(CN4CCS(=O)(=O)CC4)cc3)n2n1)C1CC1,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '11.74', 'le': '0.23', 'lle': '3.01', 'sei': '5.17'}",CHEMBL3301607,FILGOTINIB,CHEMBL3301607,5.00,0,http://www.openphacts.org/units/Nanomolar,2119854,=,1,1,=,,IC50,nM,,10123.0,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,10123.0
,,14752015,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-23-induced STAT-3 phosphorylation preincubated for 45 mins followed by IL-23 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,CC[C@@](C)(Nc1ccnc(-c2c[nH]c3ncccc23)n1)C(=O)NCC(F)(F)F,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '12.62', 'le': '0.24', 'lle': '1.67', 'sei': '5.18'}",CHEMBL3039513,DECERNOTINIB,CHEMBL3039513,4.95,0,http://www.openphacts.org/units/Nanomolar,2119853,=,1,1,=,,IC50,nM,,11200.0,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,11200.0
,,14752017,[],CHEMBL3299206,Inhibition of JAK2/TYK2 in human whole blood assessed as inhibition of IL-12-induced STAT-4 phosphorylation preincubated for 45 mins followed by IL-12 addition measured after 15 mins by FACS analysis,B,,,BAO_0000190,BAO_0000223,protein complex format,O=C(Nc1nc2cccc(-c3ccc(CN4CCS(=O)(=O)CC4)cc3)n2n1)C1CC1,,,CHEMBL3297690,J Med Chem,2014,"{'bei': '11.45', 'le': '0.22', 'lle': '2.89', 'sei': '5.04'}",CHEMBL3301607,FILGOTINIB,CHEMBL3301607,4.87,0,http://www.openphacts.org/units/Nanomolar,2119854,=,1,1,=,,IC50,nM,,13362.0,CHEMBL3301392,Homo sapiens,JAK2/TYK2,9606,,,IC50,nM,UO_0000065,,13362.0

In [ ]:
df1["standard_type"].isna().sum()

np.int64(0)

In [ ]:
df2 = df1[df1["standard_value"].notna()]
df2.head()

,action_type,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,...,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
0,None,None,14751985,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,81.9
1,None,None,14751989,[],CHEMBL3299206,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,149.0
2,None,None,14751991,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,229.0
3,None,None,14751996,[],CHEMBL3299206,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,409.0
4,None,None,14752002,[],CHEMBL3299208,Inhibition of JAK2/TYK2 in human whole blood a...,B,None,None,BAO_0000190,...,Homo sapiens,JAK2/TYK2,9606,None,None,IC50,nM,UO_0000065,None,818.0

In [ ]:
bioactivity_class = []
for value in df2.standard_value:
    value = float(value)
    if value >= 10000:
        bioactivity_class.append("inactive")
    elif value <= 1000:
        bioactivity_class.append("active")
    else:
        bioactivity_class.append("intermediate")

In [ ]:
molecule_ids = df2.molecule_chembl_id.tolist()
canonical_smiles = df2.canonical_smiles.tolist()
standard_values = df2.standard_value.tolist()

In [ ]:
data = list(zip(
    molecule_ids,
    canonical_smiles,
    standard_values,
        bioactivity_class,
))

In [ ]:
df3 = pd.DataFrame(
    data,
    columns=[
        "molecule_chembl_id",
        "canonical_smiles",
        "standard_value",
        "bioactivity_class",
    ]
)
df3.head()

,molecule_chembl_id,canonical_smiles,standard_value,bioactivity_class
0,CHEMBL2105759,CCS(=O)(=O)N1CC(CC#N)(n2cc(-c3ncnc4[nH]ccc34)c...,81.9,active
1,CHEMBL2105759,CCS(=O)(=O)N1CC(CC#N)(n2cc(-c3ncnc4[nH]ccc34)c...,149.0,active
2,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,229.0,active
3,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,409.0,active
4,CHEMBL1789941,N#CC[C@H](C1CCCC1)n1cc(-c2ncnc3[nH]ccc23)cn1,818.0,active

In [ ]:
df3 = df3.dropna(subset=["canonical_smiles"])
df3 = df3[df3["canonical_smiles"].str.lower() != "none"]
df3 = df3[df3["canonical_smiles"].str.strip() != ""]
df3.head()

,molecule_chembl_id,canonical_smiles,standard_value,bioactivity_class
0,CHEMBL2105759,CCS(=O)(=O)N1CC(CC#N)(n2cc(-c3ncnc4[nH]ccc34)c...,81.9,active
1,CHEMBL2105759,CCS(=O)(=O)N1CC(CC#N)(n2cc(-c3ncnc4[nH]ccc34)c...,149.0,active
2,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,229.0,active
3,CHEMBL221959,C[C@@H]1CCN(C(=O)CC#N)C[C@@H]1N(C)c1ncnc2[nH]c...,409.0,active
4,CHEMBL1789941,N#CC[C@H](C1CCCC1)n1cc(-c2ncnc3[nH]ccc23)cn1,818.0,active

In [ ]:
df3.to_csv("bioactivity_preprocessed_data.csv", index=False)

!cp bioactivity_preprocessed_data.csv "/content/gdrive/My Drive/Colab Notebooks/data"
!ls "/content/gdrive/My Drive/Colab Notebooks/data"

bioactivity_preprocessed_data.csv  bioactivity_raw_data.csv